<!DOCTYPE html>
<html> 
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'core/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'core/css/bootstrap_slider.css'%}" rel="stylesheet">
    <link href="{% static 'core/css/styles_table.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/loading-bar.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css'%}" />

    
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>

    <script src="{% static 'core/js/jquery.min.js'%}"></script>
    <script src="{% static 'core/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'core/js/seedrandom.js'%}"></script>
    <script src="{% static 'core/js/papaparse.js'%}"></script>
    <script src="{% static 'core/js/bootstrap_slider.js'%}"></script>
    <script src="{% static 'core/js/moment.min.js'%}"></script>
    <script src="{% static 'core/js/pdf_output.js'%}"></script>
    <script src="{% static 'core/js/jspdf.plugin.autotable.js'%}"></script>

    
    <script type="text/javascript" src="{% static 'core/js/loading-bar.js'%}"></script>
    <script type="text/javascript" src="{% static 'core/js/csv_output.js'%}"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/2.1.0/js/jquery.jexcel.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/2.1.0/css/jquery.jexcel.min.css" type="text/css" />
 

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<title>Herramienta de análisis Costo-Beneficio para la implementación de medidas de adaptación frente al cambio climático y/o de mitigación de emisiones de GEI</title>
<link rel="icon" href="https://www.giz.de/static/en/images/favicon.ico" type="image/x-icon" />
<style>
    </style>
    </head>

<body>
<div class="container">
    <div class="row">
    <div class="col-12 text-center py-5">Selecciona el idioma</div>
        <div class="col-6">
            <div class="col-12" style="background:  rgba(96, 135, 65, 0.15);">
            <a href="es/">
            <figure style="padding: 100px;">
            <img src="https://image.flaticon.com/icons/svg/197/197397.svg" style="width: 100%;">
                <figcaption class="text-center col-offset-2">Español</figcaption>
            </figure>            
            </a>    
            </div>
        </div>
        <div class="col-6">
            <div class="col-12" style="background:  rgba(96, 135, 65, 0.15);">
            <a href="es/">
            <figure style="padding: 100px;">
            <img src="https://image.flaticon.com/icons/svg/197/197484.svg" style="width: 100%;">
                <figcaption class="text-center col-offset-2">Inglés </figcaption>
            </figure>            
            </a>    
            </div>
        </div>
    </div>
</div>
</body>
</html>